<ngx-dropzone (change)="onSelect($event)" [multiple]="false" [accept]="'image/png, image/jpeg'">
  <ngx-dropzone-label>Drop your images files here or click to select file</ngx-dropzone-label>
  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [removable]="true"
    (removed)="onRemove(f)" [file]="f">
    <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
  </ngx-dropzone-image-preview>
</ngx-dropzone>
<ion-button expand="block" >Upload</ion-button>
<ion-button expand="block" (click)="openUnsplashModal()">Choose from Unsplash</ion-button>
