<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Data
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="toggleReorder()">
                <ion-icon name="reorder" slot="end"></ion-icon>
                Reorder
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #scrollContainer appScrollDetector class="scroll-wrapper">
    <ion-list class="ion-no-padding ion-padding-bottom" lines="full">
        <ion-item color="light">
            <ion-label>
                Chips
            </ion-label>


        </ion-item>
        <div cdkDropList  class="example-list" (cdkDropListDropped)="drop($event)"
        >
            <ng-container *ngFor="let o of options">
                <ion-item
                        class="example-box"
                        cdkDrag
                        [ngClass]="{reorder : reorder, dragging: dragging }"
                        vsDragScroll
                        [vsDragScrollContainer]="scrollContainer"
                        [cdkDragDisabled]="!reorder"
                        (mousedown)="onMouseDown()">
                    <ion-button *ngIf="!reorder" shape="round" slot="end" color="danger" fill="clear" class="bucket"
                                (click)="deleteChip(o)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="reorder" [disabled]="true" shape="round" slot="end" color="dark" fill="clear">
                        <ion-icon slot="icon-only" name="reorder"></ion-icon>
                    </ion-button>
                    {{ o.name }}

                </ion-item>
            </ng-container>
        </div>

        <ion-button fill="clear" expand="block" (click)="presentAlert('new')">Add chip</ion-button>

    </ion-list>
    </div>
</ion-content>
