<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-list-header color="light">Chip picker</ion-list-header>
  <app-chipselect [options]="options"></app-chipselect>
  <ion-list-header color="light">Date picker</ion-list-header>
  <ion-item lines="full">
    <ion-label>All day</ion-label>
    <ion-checkbox slot="start" (ionChange)="allDayToggle($event)"></ion-checkbox>
  </ion-item>

  <!-- Available Colors: primary, accent, warn -->
  <!-- Min & Max date should be in MM/DD/YYYY || [min]="Date('12/05/2019')" || [max]="Date('12/25/2019')" -->
  <app-datepicker [label]="'From'" [color]="'warn'" [includeTime]="!allday" [form]="form"
    [control]="'eventStartDate'" [datetimeFrom]="true" [sourceCalendar]="false"></app-datepicker>

  <app-datepicker [label]="'To'" [color]="'accent'" [includeTime]="!allday" [form]="form"
    [control]="'eventEndDate'" [datetimeTo]="true" [sourceCalendar]="false"></app-datepicker>
</ion-content>